/*
Theme Name: Merz Aesthetics
Description: Merz Aesthetics theme, 2018.
Version: 1.0*/

@import url('https://fonts.googleapis.com/css?family=Bentham|Raleway:200,400,700');

/*---------------------
		RESETS
----------------------*/

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
p{
	margin-top:0px;
}
#featured-info-container p{
	margin-top:12px;
}
a:active,
a:hover {
	outline-width: 0;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}
input, select, textarea, [type="checkbox"]{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family:"Raleway", sans-serif;
  font-size:1rem;
} 

input, textarea, select{
	border:none;
	border-radius:0px;
}
button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 0px solid #bbb;
	margin: 0 2px;
	padding: 0.65em 0.625em 0.75em;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}
#empty{
	display:none;
}
[hidden] {
	display: none;
}
.clear{
	float:none;
	clear:both;
}
.spacer{
	height:40px;
	width:100%;
	clear:both;
}
.mobile{
	display:none;
}
.relative{
	position:relative;
}

/*---------------------
	LAZY LOADING
----------------------*/

img[data-lazy-src] {
	-webkit-filter: blur(24px);
	   -moz-filter: blur(24px);
			filter: blur(24px);
}

img.lazyloaded {
	-webkit-transition: filter .2s linear 0.2s;
	   -moz-transition: filter .2s linear 0.2s;
	        transition: filter .2s linear 0.2s;

	
	-webkit-filter: blur(0px);
	   -moz-filter: blur(0px);
			filter: blur(0px);
}

/*---------------------
		STYLES
----------------------*/

body{
	opacity:0;
	-webkit-transition: opacity .2s linear 0.2s;
	   -moz-transition: opacity .2s linear 0.2s;
	        transition: opacity .2s linear 0.2s;
}
body.ready{
	opacity:1;
}

.white-text{
	color:#FFF;
}
.cellfina-red{
	background-color:#DE3831;
}
.cellfina-red-text{
	color:#DE3831;
}
.ultherapy-orange{
	background-color:#EFAF3D;
}
.ultherapy-orange-text{
	color:#EFAF3D;
}
.mederma-purple{
	background-color:#862E6B;
}
.mederma-purple-text{
	color:#862E6B;
}
.grey-background{
	background-color:#F2F2F2;
}
.orange-background{
	background-color:#FCB24B;
}
a.cellfina-red-text:hover,
a.mederma-purple-text:hover,
a.ultherapy-orange-text:hover{
	color:#DE3831;
}
a.cellfina-red:hover,
a.mederma-purple:hover,
a.ultherapy-orange:hover{
	background-color:#DE3831;
}

body, html{
	width:100%;
	margin:0;
	font-family:'Raleway', sans-serif;
	font-size:62.5%;
}
#wrap{
	padding:0 4%;
	overflow:hidden;
}
#header-push{
	height:80px;
	clear:both;
}
h1{
	font-family:'Bentham', serif;
	font-size:3rem;
	font-weight:100;
	color:#C1272D;
}
h2{
	font-family:'Bentham', serif;
	font-size:1.6rem;
	font-weight:100;
	color:#666;
}
h3{
	font-family:'Bentham', serif;
	font-size:7rem;
	font-weight:100;
	color:#C1272D;
	text-align:center;
	text-transform: uppercase;
	letter-spacing:2px;
}
p{
	font-size:2rem;
	line-height:3.2rem;
	color:#666;
}
#breadcrumbs{
	width:100%;
	text-align:center;
	font-size:1rem !important;
	line-height:1rem !important;
	color:#666 !important;
}
#breadcrumbs a{
	font-size:1rem !important;
	line-height:1rem !important;
	text-decoration: none !important;
	color:#242424 !important;
}
a{
	cursor:pointer;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.small-text a{
	cursor:pointer;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);

	text-decoration:none;
	font-weight:bold;
	color:#666;
}
a.find-a-doc{
	width:280px;
	padding:16px 0px 16px 40px  !important;
	margin-top:20px;
	text-decoration:none;
}
a.find-a-doc:before{
	font-family: 'Font Awesome\ 5 Free' !important;
	content:'\f3c5' !important;
	font-size:3rem;
	font-weight: 900;
	position:absolute;
	left:10px;
	top:8px;
	background:#FFF;
	color: #83AFB4;
	padding:8px 14px;
	-webkit-border-radius:80px;
	   -moz-border-radius:80px;
			border-radius:80px;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
a.find-a-doc:hover{
	background-color:#DE3831 !important;
}
a.find-a-doc:hover:before{
	color:#DE3831;
	-webkit-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
}
.mederma a.find-a-doc{
	color:#862E6B;
	background:#FFF;
}
.mederma a.find-a-doc:before{
	font-family: 'Font Awesome\ 5 Free' !important;
	content:'\f3c5' !important;
	font-size:3rem;
	font-weight: 900;
	position:absolute;
	left:10px;
	top:10px;
	background:#862E6B;
	color: #FFF;
	padding:6px 20px;
	-webkit-border-radius:80px;
	   -moz-border-radius:80px;
			border-radius:80px;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.round{
	position:relative;
	padding:20px;
	text-align: center;
	font-weight:400;
	display:block;
	width:300px;
	color:#FFF;
	font-size:3rem;
	-webkit-border-radius:80px;
	   -moz-border-radius:80px;
			border-radius:80px;
	text-decoration:none;
	cursor:pointer;
}
.green{
	background-color:#83AFB4;
	padding:16px 0px 16px 0px;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.green:hover{
	background:#DE3831;
}
header{
	position:relative;
	padding:20px 0px 0px;
}
#header-fixed{
	padding-top:40px;
	padding-bottom:40px;
	background:#FFF;
	position:fixed;
	top:0px;
	z-index:100;
	width:100%;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
#header-fixed.down{
	box-shadow:0px 0px 30px #2f2f2f;
}
header #logo{
	width:24%;
	padding-left:4%;
	float:left;
	margin-top:8px;
}
header #logo img{
	width:100%;
}
header #logo svg{
	fill:red;
}
header .menu{
	text-align:right;
	padding-top:20px;
	margin-top:0px;
}
header .menu li:nth-child(1){
	float:left;
	margin-left:4%;
}
header .menu li:nth-child(2){
	float:left;
}
header .menu li:nth-child(3){
	float:left;
}
header .menu li:last-child{
	padding-right:4%;
}
header .menu li{
	display:inline-block;
	font-size: 1.4rem;
	padding-right:2%;
	text-transform: uppercase;
	cursor:pointer;
}
header .menu li a{
	color:#242424;
	text-decoration: none;
	font-weight: bold;
	cursor:pointer;
}
header .menu li a:hover{
	color:#CCC;
}
#dark-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
	pointer-events:none;
	z-index:999;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
#dark-overlay.open{
	opacity:0.8;
	pointer-events:auto;
}
#side-menu{
	position:fixed;
	z-index:1000;
	background:#FFF;
	width:50%;
	height:100%;
	right:0px;
	-webkit-transform:translateX(100%);
	   -moz-transform:translateX(100%);
			transform:translateX(100%);
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
#side-menu li{
	list-style-type: none;
	padding-bottom:20px;
}
#side-menu li a{
	text-decoration: none;
	color:#666;
	font-size:2rem;
}
#side-menu li a:hover{
	color:#CCC;
}
#side-menu .sub-menu{
	margin-top:20px;
}
#side-menu.open{
	box-shadow:0px 0px 30px #2f2f2f;

	-webkit-transform:translateX(0%);
	   -moz-transform:translateX(0%);
			transform:translateX(0%);
}
#side-nav{
	position:absolute;
	top:40px;
}
#menu-icon {
	position:fixed;
	width: 24px;
	height: 24px;
	top:60px;
	right:4%;
	float:right;

	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);

	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
			transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;

    z-index:1001;
}
#menu-icon span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #666;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);

	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
				transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-icon.open span{
	background:#666;
}
#menu-icon.down span{
	background:#666;
}
#menu-icon:hover{
	opacity:0.5;
}
#menu-icon span:nth-child(1) {
	top: 0px;
}
#menu-icon span:nth-child(2),#menu-icon span:nth-child(3) {
	top: 8px;
}
#menu-icon span:nth-child(4) {
	top: 16px;
}
#menu-icon.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
#menu-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#menu-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#menu-icon.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
header .menu-item-has-children{
	position:relative;
}
header .menu-item-has-children:hover .sub-menu{
	opacity:1;
	pointer-events:auto;
}
header .menu-item-has-children:after{
	content:'';
	position:absolute;
	pointer-events: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 4px;
	margin-left: 4px;
	border-top: 8px solid #242424;
	opacity: 1;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
header .menu-item-has-children:hover:after{
	border-top: 8px solid #CCC;
}
header .sub-menu{
	position:absolute;
	left:0px;
	padding:12px 8px 4px;
	text-align:left;
	opacity:0;
	background:#FFF;
	pointer-events: none;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);

	z-index:3;
}
header .menu .sub-menu li{
	float:left;
	margin:0px;
	padding:6px 0px;
}
.healthcare-pro-link,
.logged-in-healthcare-pro-link{
	position:absolute;
	top:24px;
	right:4%;
}
.healthcare-pro-link li,
.logged-in-healthcare-pro-link li{
	display:inline;
}
.logged-in-healthcare-pro-link li:first-child{
	margin:40px;
}
.healthcare-pro-link a,
.logged-in-healthcare-pro-link a{
	color:#999;
	text-decoration: none;
	font-weight: bold;
	font-size:1.2rem;
	text-transform: uppercase;
}
.healthcare-pro-link a:hover,
.logged-in-healthcare-pro-link a:hover{
	color:#CCC;
}
#three-articles{
	padding:0px 4%;
}
#three-articles,
#mission-statement,
#products{
	clear:both;
	margin-top:80px;
}
#featured-image-container{
	position:relative;
	width:110%;
	height:520px;
	left:-5%;
	overflow: hidden;
	z-index:0;
}
#featured-image-container:after{
	content:'';
	position:absolute;
	pointer-events:none;
	top:4%;
	left:2%;
	width:96%;
	height:92%;
	border:8px solid white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.featured-image img{
	position:absolute;
	width:100%;
	height:auto;
	min-width:500px;
	-webkit-transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
}
#featured-image-container:hover img{
	-webkit-transform:scale(1.01);
	   -moz-transform:scale(1.01);
			transform:scale(1.01);
}
#featured-image-container .title{
	position:absolute;
	display:table;
	max-width:800px;
	bottom:0px;
	left:50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
			transform: translateX(-50%);
	background:#FFF;
	padding:10px 30px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:4rem;
	line-height:4rem;
	font-family:'Bentham', serif;
	color:#C0252F;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	z-index:2;
}

#featured-image-container h1.title{
	position:absolute;
	margin-bottom:0px;
	line-height:4rem;
	padding-bottom:40px;
}
#solutions #featured-image-container.mederma h1,
#solutions #featured-image-container.mederma p{
	color:#FFF;
}
#featured-image-container:hover a.title{
	color:#E0252F;
}
#page #featured-image-container,
#solutions #featured-image-container{
	background:#F2F2F2;
}
#solutions #featured-image-container.mederma{
	background:#862E6B;
}
#solutions #featured-image-container.mederma:after{
	content:unset;
}
#page #featured-image-container:after,
#solutions #featured-image-container:after,
#portal #featured-image-container:after{
	content:'';
	position:absolute;
	pointer-events:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	background: -moz-linear-gradient(left, rgba(242,242,242,1) 33%, rgba(0,0,0,0) 66%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(242,242,242,1) 33%,rgba(0,0,0,0) 66%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(242,242,242,1) 33%,rgba(0,0,0,0) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#page #featured-image-container img,
#portal #featured-image-container img{
	min-width:850px;
	-webkit-transform:translateY(-0%);
	   -moz-transform:translateY(-0%);
			transform:translateY(-0%);
}
#page #featured-image-container #featured-info-container,
#solutions #featured-image-container #featured-info-container,
#portal #featured-image-container #featured-info-container{
	position:absolute;
	top:50%;
	left:12%;
	-webkit-transform:translateY(-50%);
	   -moz-transform:translateY(-50%);
			transform:translateY(-50%);
	z-index:2;
}
#page #featured-image-container .title,
#portal #featured-image-container .title{
	position:relative;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	text-transform: capitalize;
	text-align:left;
	background:transparent;
	color:#666;
	margin-top:0px;
	left:0%;
	padding:0px;
	width:50%;
	-webkit-transform: translateX(0%);
	   -moz-transform: translateX(0%);
			transform: translateX(0%);
}
#page #featured-image-container .header-excerpt,
#solutions #featured-image-container .header-excerpt,
#portal #featured-image-container .header-excerpt{
	position:relative;
	font-weight:400;
	font-size:2rem;
	line-height:3.4rem;
	color:#666;
	width:44%;
	left:0%;
	padding:0px;
	z-index:2;
}

#solutions .featured-image img{
	position:absolute;
	top:0px;
	width:100%;
	height:auto;
	min-width:500px;
	-webkit-transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all 3s cubic-bezier(0.23, 1, 0.62, 1);
}
#mission-statement #featured-image-container{
	cursor:pointer;
}
#mission-statement #featured-image-container img{
	-webkit-transform:translateY(-10%);
	   -moz-transform:translateY(-10%);
			transform:translateY(-10%);object-fit: cover;
}
#mission-statement:hover #featured-image-container img{
	-webkit-transform:translateY(-10%) scale(1.02);
	   -moz-transform:translateY(-10%) scale(1.02);
			transform:translateY(-10%) scale(1.02);
}
#mission-statement #featured-image-container .title{
	right:2%;
	left:unset;
	bottom:5%;
	-webkit-transform:translateX(0%);
	   -moz-transform:translateX(0%);
			transform:translateX(0%);
	padding:12px 11px;
	text-transform: inherit;
	font-size:2rem;
	display: block;
	line-height:2rem;
	text-align:right;
}
#solutions #featured-image-container .product-logo{
	width:240px;
	height:auto;
	margin-top:8px;
}
#featured-image-container .category{
	position:absolute;
	pointer-events: none;
	bottom:-4px;
	left:50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
			transform: translateX(-50%);
	font-family:'Raleway', sans-serif;
	font-size:1.5rem;
	color:#242424;
	text-transform: uppercase;
	letter-spacing:1px;
	z-index:3;
	width:100%;
	text-align:center;
}
#featured-image-container .category a{ 
	color:#242424;
	text-decoration: none;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
#featured-image-container:hover .category a{ 
	color:#999;
}
.round-header-image{
/*	position:absolute;
	right:4%;
	top:8px;
	z-index:2;
	width:40% !important;
	max-width:400px;
	height:auto;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
			border-radius:50%;
			*/

	top:-500px !important;
	right:-300px;
}
#products .thumb-large-container{
	width:50%;
}
.thumb-large-container .title{
	position:relative;
	font-family:'Bentham', serif;
	font-size:2.5rem;
	letter-spacing: 2px;
	color: #242424;
	text-decoration:none;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.thumb-large-container .title:before{
	content:'';
	position:absolute;
	bottom:2px;
	left:0%;
	-webkit-transition:width .6s ease-in-out 0s;
	   -moz-transition:width .6s ease-in-out 0s;
			transition:width .6s ease-in-out 0s;
	width:0%;
	border-bottom:2px solid #242424;
}

.thumb-large-container:hover .title:before,
.thumb-large-container:hover .read-more:before{
	width:100%;
}
.thumb-large-container .category,
.thumb-large-container .read-more{
	margin-top:0px;
}
.thumb-large-container .category a{
	position:relative;
	font-family:'Raleway', sans-serif;
	font-size:1.2rem;
	line-height:1rem;
	letter-spacing: 2px;
	color:#666;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.thumb-large-container .read-more{
	position:relative;
	font-family:'Raleway', sans-serif;
	font-size:1.4rem;
	line-height:2rem;
	letter-spacing: 2px;
	color:#666;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.thumb-large-container .category a:before,
.thumb-large-container .read-more:before{
	content:'';
	position:absolute;
	bottom:0px;
	left:0%;
	-webkit-transition:width .6s ease-in-out 0s;
	   -moz-transition:width .6s ease-in-out 0s;
			transition:width .6s ease-in-out 0s;
	width:0%;
	border-bottom:1px solid #666;
}

.thumb-large-container .category:hover a:before,
.thumb-large-container .read-more:hover:before{
	width:100%;
}
.thumb-large-container{
	width:33%;
	float:left;
	padding:1%;
	box-sizing:border-box;
}
.thumb-large{
	position:relative;
	overflow:hidden;
	height:auto;
	text-align:center;
	-webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.62, 1);
			transition: all 0.6s cubic-bezier(0.23, 1, 0.62, 1);
}
.thumb-large img{
	width:100%;
	height:auto;
	-webkit-transition:transform 3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:transform 3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:transform 3s cubic-bezier(0.23, 1, 0.62, 1);
}
.thumb-large-container:hover img{
	-webkit-transform:scale(1.05);
	   -moz-transform:scale(1.05);
			transform:scale(1.05);
}
#mailing-list-signup{
	clear:both;
	text-align: center;
	margin-top:-80px;
}
#mailing-list-signup h3{
	margin-bottom:12px;
}
#article p,
#article figure,
#article h4,
#page p,
#page figure,
#page ol{
	font-size:2.4rem;
	line-height:5.2rem;
	padding:0 8%;
	color:#666;
}
#article img{
	width:100%;
	height:auto;
}
#article p.category{
	line-height:3rem;
}
#article #breadcrumbs{
	padding:unset;
}
#article .wp-block-image{
	width:unset;
}
#article a{
	font-weight:700;
	color:#666;
	text-decoration:none;
}
#article a:hover{
	color:#CCC;
}
footer{
	background:#242424;
	padding:40px 4%;
	margin-top:80px;
	box-sizing: border-box;
	color:#FFF;
}
footer h2{
	color:#FFF;
	font-family:'Raleway', sans-serif;
	font-size:3rem;
	font-weight:700;
	margin-top:0px;
}
footer p{
	font-size:2.2rem;
	line-height:3rem;
	color:#5F6062;
}
footer p.small-text{
	color:#FFF;
	font-size:1.2rem;
	line-height:1.4rem;
}
footer #social-links a{
	color:#242424;
	font-size:2.4rem;
}
footer #social-links span{
	padding:10px;
}
footer #social-links a:hover{
	color:#CCC;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.footer-links{
	padding:0px;
}
.footer-links li{
	display:inline-block;
	padding-bottom:10px;
}
.footer-links a{
	color:#FFF;
	font-size:1.2rem;
	text-decoration: none;
	text-transform: uppercase;
}
.footer-links a:hover{
	color:#666;
}
.footer-links li:after {
	content: '|';
	display: inline-block;
	margin-right: 8px;
	margin-left: 8px;
	baseline-shift: -1px;
	font-size: 1.3rem;
}

.footer-links li:last-child:after,
.footer-links .children li:after {
	content: "";
	display: none;
}
.footer-links .sub-menu{
	display:none;
}
footer .col-container{
	width:100%;
	max-width:1200px;
	margin:auto;
}
footer .col-left{
	width:45%;
	float:left;
}
footer .col-right{
	margin-top:48px;
	width:45%;
	float:right;
}
#footnote{
	padding:20px 4%;
	max-width:1200px;
	margin:auto;
}
#footnote p{
	font-size:1.4rem;
	line-height:2.4rem;
}
#footnote img{
	width:80px;
	height:auto;
	float:left;
	margin-right:20px;
}

/*---------------------
	NEWSLETTER STYLE
----------------------*/
#mc_embed_signup_scroll{

}
#mc_embed_signup input{
	-webkit-border-radius:0px !important;
	   -moz-border-radius:0px !important;
			border-radius:0px !important;
}
#mc_embed_signup input.email{
	border:2px solid #CCC !important;
	box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.15) !important;
	background-color:#F5F5F5 !important;
	padding:30px 20px !important;
	width:66% !important;
	font-family:"Raleway", sans-serif !important;
	color:#666 !important;
	font-size:2rem !important;
	margin-top:-8px !important;
}
#mc_embed_signup #mc-embedded-subscribe{
	border:2px solid #C1272D !important;
	box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.0) !important;
	background-color:#C1272D !important;
	padding:15px 20px 44px !important;
	width:100% !important;
	font-family:"Raleway", sans-serif !important;
	color:#FFF !important;
	font-size:2rem !important;
	text-transform: uppercase !important;
	font-weight:bold !important;
	margin-top:-8px !important;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}

/*---------------------
	PRODUCT PAGES
----------------------*/
.wp-block-column .full-width img{
	width:100% !important;
	height:auto;
}
.wp-block-column .full-width video{
	width:100% !important;
	height:auto;
}
#solutions-wrap{
	padding:0px;
	overflow:hidden;
}
#solutions h2{
	font-family:'Raleway', sans-serif;
	font-size:6rem;
	line-height:6.5rem;
	margin:0px;
	padding:0px;
}
#solutions .mederma h2{
	color:#FFF;
}
#solutions .mederma .featured-image img{
	top:50%;
	-webkit-transform:translateY(-50%);
	   -moz-transform:translateY(-50%);
			transform:translateY(-50%);
	right:4%;
	width:50%;
	max-width:800px;
}
#solutions .wp-block-columns{
	padding:0px 8%;
	max-width:1200px;
	margin:auto;
}
#solutions .wp-block-column{
	margin-top:80px;
	margin-bottom:80px;
}
#solutions #the-content{
	margin:auto;
}
#solutions .wp-block-column:first-child{
	padding-right:52px;
	box-sizing:border-box;
}
#solutions #testimonials{
	position:relative;
	margin-top:80px;
}
#testimonials h2{
	padding:0px;
}
#solutions #ultherapy-details{
	position:relative;
}
#solutions #ultherapy-details p{
	font-size:2rem;
	line-height:3rem;
	color:#FFF;
}
#testimonials h2{
	padding:0px;
}
.cellfina-three-year-logo{
	float:left;
	padding-top:10px;
	padding-right:30px;
	margin-left:-20px;
	width:120px;
}
.cellfina-three-year-logo img{
	width:100%;
	height:auto;
}
#menu-mederma-categories{
	margin:auto;
	text-align: center;
	font-size:1.4rem;
}
#menu-mederma-categories li{
	display:inline-block;
	padding:0 8%;
	box-sizing: content-box;
}
#menu-mederma-categories li a{
	color:#666;
	font-weight:bold;
	text-decoration: none;
	text-transform: uppercase;
}
#menu-mederma-categories li a:hover{
	color:#862E6B;
}

#slider{
	margin-top:20px;
}
#ba-overlay{
	width:70%;
	max-width:500px;
	position:fixed;
	background:#FFF;
	padding:30px;
	opacity:0;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	-webkit-border-radius:20px;
	   -moz-border-radius:20px;
			border-radius:20px;
	-webkit-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);

	pointer-events: none;
	z-index:1002;
}
#ba-overlay.active{
	opacity:1;
	pointer-events: auto;
}
#ba-overlay .small{
	font-size:1.2rem;
	line-height:1rem;
	text-align:center;
}
#ba-overlay li{
	position:absolute;
	width:90%;
	display:inline;
	opacity:0;
	-webkit-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
}
#ba-overlay li.active{
	opacity:1;
}
#ba-overlay img{
	width:100%;
}
.modal-btn .close{
	position:absolute;
	top:6px;
	left:8px;
	font-size:3rem;
	z-index:1003;
	cursor:pointer;
	-webkit-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal-btn .close:hover{
	opacity:0.5;
}
/*---------------------
	MEDERMA TABS
----------------------*/

.mederma-tabs{
	position:relative;
	margin-top:24px;
}
.mederma-tabs:after{
	content:'';
	position:absolute;
	pointer-events:none;
	top:3%;
	left:2%;
	width:96%;
	height:100%;
	border:8px solid #862E6B;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mederma-tabs hr{
	width:90%;
	border:0px;
	border-top:2px solid #862E6B;
}
.mederma-category-image{
	max-height:480px;
	overflow:hidden;
	position:relative;
}
.mederma-category-image img{
	max-width:100%;
}
.mederma.thumb-large-container{
	margin-left:8%;
}
.mederma-product-item{
	margin:80px auto 0px;
	max-width: 1200px;
}
.mederma-category-image .caption{
	position:absolute;
	color:#FFF;
	top:50%;
	left:8%;
	max-width:500px;
	-webkit-transform:translateY(-50%);
	   -moz-transform:translateY(-50%);
			transform:translateY(-50%);

}
.mederma .thumb-large{
	padding:20px;
}
.product-details{
	width:50%;
	float:right;
	margin-right:8%;
}
.product-details p{
	margin-top:0px;
	font-size:2rem;
	line-height:3rem;
}
#solutions h2.mederma-product{
	font-size:2.4rem;
	font-weight:bold;
	color:#862E6B;
}
.learn-more{
	background:#862E6B;
	padding:12px 16px;
	margin-top:20px;
	color:#FFF;
	font-size:2rem;
	text-transform: uppercase;
	text-decoration: none;
}
.learn-more:hover{
	background:#A62E6B;
}
#mederma-wrap #the-content{
	max-width:1200px;
	margin:auto;
	padding:0px 8%;
}
#mederma-wrap ol{
	font-size:2.4rem;
	line-height:5.2rem;
	color:#666;
}
#mederma-wrap ul{
	font-size:2.4rem;
	line-height:5.2rem;
	color:#666;
}


/*---------------------
	ULTHERAPY
----------------------*/

.ultherapy-equipment{
	position:absolute;
	bottom:-124px;
	right:-210px;
	width:55%;
	max-width:760px;
	min-width:750px;
}
.ultherapy-small{
	font-size:2rem;
	line-height:3rem;
}

/*---------------------
	LOCATOR
----------------------*/

#cellfina-find-a-doctor,
#ultherapy-find-a-doctor{
	margin-top:80px;
}
#cellfina-find-a-doctor h2,
#cellfina-find-a-doctor #address-bar,
#cellfina-find-a-doctor input,
#ultherapy-find-a-doctor h2,
#ultherapy-find-a-doctor #address-bar,
#ultherapy-find-a-doctor input{
	display:inline-block;
}
#cellfina-find-a-doctor h2,
#ultherapy-find-a-doctor h2{
	float:left;
	margin-top:-8px;
	padding:0px 8%;
	padding-right:0px;
}
#address-bar{
	width:62%;
	float:left;
	margin-left:4%;
}
#address-input{
	border:2px solid #CCC;
	box-shadow:inset 0 0 8px 1px rgba(0,0,0,0.15);
	background-color:#F5F5F5;
	padding:20px;
	width:66%;
	font-size:2rem;
	margin-top:-8px;
}
#search-button{
	color:#FFF;
	padding:22px 60px;
	font-size:2rem;
}
#map-container{
	background:#F2F2F2;
}
#map{
	width:100%;
	height:70%;

	-webkit-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s cubic-bezier(0.23, 1, 0.32, 1);
}
.searched #map{
	width:60% !important;
	float:right;
}
#cellfina-find-a-doctor .doctor-name{
	color:#DE3831;
	font-weight:700;
	text-transform: uppercase;
	line-height:3rem;
	text-decoration: none;
}
#ultherapy-find-a-doctor .doctor-name{
	color:#EFAF3D;;
	font-weight:700;
	text-transform: uppercase;
	margin-bottom:12px;
	text-decoration: none;
}
.locator-text{
	font-size:1.4rem;
	line-height:2rem;
	margin:0px;
}
#location-list{
	width:0;
	float:left;
	height:600px;
	overflow-y:scroll;

	-webkit-transition:all .6s .1s cubic-bezier(0.23, 1, 0.32, 1);
	   -moz-transition:all .6s .1s cubic-bezier(0.23, 1, 0.32, 1);
			transition:all .6s .1s cubic-bezier(0.23, 1, 0.32, 1);
}
.searched #location-list{
	width:40%;
	float:left;
	overflow-y:scroll;
	overflow-x:hidden;
}
#ultherapy-find-a-doctor .searched #location-list::-webkit-scrollbar{
	width: 12px;
}
#ultherapy-find-a-doctor .searched #location-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #EFAF3D; 
	   -moz-box-shadow: inset 0 0 6px #EFAF3D; 
			box-shadow: inset 0 0 6px #EFAF3D; 
	border-radius: 0px;
}
#ultherapy-find-a-doctor .searched #location-list::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:#EFAF3D;
}
#cellfina-find-a-doctor .searched #location-list::-webkit-scrollbar{
	width: 12px;
}
#cellfina-find-a-doctor .searched #location-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #DE3831; 
	   -moz-box-shadow: inset 0 0 6px #DE3831; 
			box-shadow: inset 0 0 6px #DE3831; 
	border-radius: 0px;
}
#cellfina-find-a-doctor .searched #location-list::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:#DE3831;
}
#locations-ul .doctor-name{
	font-size:1.4rem;
	text-decoration: none;
}
#locations-ul li{
	list-style-type:none;
	padding:10px;
	margin-left:6px;
	text-align:left;
}
#locations-ul a:hover{
	opacity:0.5;
}
#locations-ul hr{
	width:100%;
	margin:auto;
	margin-top:-4px;
	margin-bottom:8px;
}
#ultherapy-find-a-doctor #locations-ul hr{
	border-top:1px solid #EFAF3D;
}
#cellfina-find-a-doctor #locations-ul hr{
	border-top:1px solid #DE3831;
}
#locations-ul hr:last-of-type{
	display:none;
}
/*---------------------
	DOCTOR SIGN IN
----------------------*/

#sign-in-box{
	background:#F2F2F2;
	width:100%;
	max-width:1000px;
	padding:20px 40px;
	margin:auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
#sign-in-box p{
	font-size:1.6rem;
	line-height:2.8rem;
	padding:0px;
	margin-top:0px;
}
#sign-in-box .error{
	font-weight:bold;
	text-align:center;
	color:#d03432;
}
.col-container{
	width:100%;
}
.col-left{
	width:48%;
	float:left;
	border-right:1px solid #666;
	padding-right:40px;
}
.col-left span{
	font-size:1.4rem;
	color:#666;
}
.col-right{
	width:44%;
	float:right;
}
#doctor-registration-form,
#cya-registration-form,
#doctor-edit-details-form{
	display:none;
}
#doctor-registration-form h2,
#cya-registration-form h2{
	font-size:3rem;
	font-family:'Raleway', sans-serif;
}
#submit-register{

}


/*---------------------
	CONTACT FORM
----------------------*/
.full-width-input{
	width:100%;
	padding:16px;
	margin-bottom:12px;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.half-width-input{
	width:48%;
	display:inline-block;
	padding:16px;
	margin-bottom:12px;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.half-width-input:nth-child(2n+1){
	float:right;
}
.half-width-input:nth-child(2n){
	float:left;
}
.full-width-input:hover, .half-width-input:hover, select:hover{
	background:#CCC;
}
select{
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	color:#757575;
}
.select-container{
	position:relative;
}
.select-container .arrow{
	width:0;
	height:0;
	position:absolute;
	pointer-events: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 16px;
	right: 10px;
	border-top: 8px solid black;
	opacity: 0.5;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
.select-container:hover .arrow{
	opacity:1;
	border-top:8px solid white;
}
#submit{
	padding:10px 20px;
	background:#666;
	color:#FFF;
	float:right;
	margin-top:-24px;
	text-transform: uppercase;
	font-size:1.2rem;
	font-weight:bold;
	cursor:pointer;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}
#submit:hover{
	background:#999;
}

/*---------------------
	PORTAL
----------------------*/

#portal .col-right{
	background:#F2F2F2;
	padding:20px;
	box-sizing: border-box;
	margin-bottom:20px;
	width:45%;
}
#portal .col-right h2{
	font-size:3rem;
	line-height:2rem;
	font-weight:bold;
	font-family:'Raleway', sans-serif;
	text-align:left;
	margin-bottom:8px;
}
#portal .col-right p{
	margin:0px;
}
#portal .col-right a{
	color:#666;
	font-weight:bold;
	text-decoration: none;
}
#portal .col-right a.round{
	color:#FFF;
	width:45%;
	float:left;
}
#portal .col-right a.round:nth-child(2n){
	color:#FFF;
	width:45%;
	float:right;
}
#portal .col-right a:hover{
	color:#CCC;
}
p.round a{
	color:#FFF;
	text-decoration: none;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}

.browser{
	position:relative;
	display:block;
	padding:0px;
	margin:0px;
	margin-top:0px;
	width:100%;
	font-size:12px;
	font-family:tahoma;
	color:#666;
}

.pfilter{
	padding:2px;
	margin:0px;
	height:24px;
}
.pfilter input[type="button"]{
	padding:1px 2px;
	margin:0px;
	color:#222;
	border:1px solid #666;
	background-color:#EEE;
	cursor:pointer;
}

.pfilter input[type="text"]{
	padding:0px 2px;
	margin:0px;
	width:170px;
	height:18px;
	border:1px solid #666;
}

.pPathDisplay{
	padding:24px;
	margin:0px;
	height:18px;
	background-color:#242424;
	color:#FFF;
	white-space:nowrap;
	overflow:hidden;
}

.dvContents{
	padding:0px;
	margin:0px;
	width:100%;
	height:600px;
	overflow:auto;
}

.item{
	padding:12px 0px 14px 24px;
	margin:0px;
	line-height:20px;
	height:20px;
	vertical-align:middle;
	white-space:nowrap;
	cursor:pointer;
	background-position: 3px 50%;
	background-repeat:no-repeat;
	-webkit-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
	   -moz-transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
			transition:all .3s cubic-bezier(0.23, 1, 0.62, 1);
}

.item:hover{
	background-color:#C0252F;
	color:#FFF;
}

.item.ft_pdf:before,
.item.ft_png:before,
.item.ft_jpg:before,
.item.ft_bmp:before,
.item.ft_gif:before,
.item.ft_zip:before,
.item.ft_rar:before,
.item.ft_php:before,
.item.ft_txt:before,
.item.ft_xls:before,
.item.ft_swf:before,
.item.ft_ai:before,
.item.ft_eps:before,
.item.ft_tif:before{
	content:'';
	width:28px;
	height:36px;
	border-radius:6px;
	color:#FFF;
	display:inline-block;
	float:left;
	top:-8px;
	margin-right:12px;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #FFF inset;
}

.odd{
	background-color:#EEEEEE;

}

.even{
	background-color:#DDDDDD;
}

.item.ft_folder:before {
	content: '';
	float: left;
	background-color: #7ba1ad;

	width:24px;
	height:18px;

	margin:-4px 20px 0 0;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 0.1px 8px 0 0 #fff;
}
.item.ft_folder:after {
	content: '';
	float: left;
	clear: left;

	background-color: #a0d4e4;
	width:32px;
	height:24px;
	margin-top:-14px;

	border-radius: 0.1em;
}




@media only screen and (min-width: 1800px) {
	#page #featured-image-container #featured-info-container, #solutions #featured-image-container #featured-info-container{
		left:20%;
	}
	.round-header-image{
		top:-700px !important;
		right:-300px !important;
		width:80% !important;
	}
}

@media only screen and (max-width: 1410px) {
	header #logo{
		width:20%;
		margin-top:12px;
	}
	#cellfina-find-a-doctor h2, #cellfina-find-a-doctor #address-bar, #cellfina-find-a-doctor input, #ultherapy-find-a-doctor h2, #ultherapy-find-a-doctor #address-bar, #ultherapy-find-a-doctor input{
		display:block;
	}
	#ultherapy-find-a-doctor h2,
	#cellfina-find-a-doctor h2{
		width:100%;
		text-align:center;
		padding:0px;
		margin-bottom:20px;
	}
	#address-bar{
		float:none;
		display:block;
		width:100%;
		margin:0px;
		padding:0px 8%;
		text-align:center;
		box-sizing:border-box;
	}
	#address-input{
		width:100%;
		margin-bottom:40px;
	}
	#search-button{
		margin-top:42px;
	}
	header .menu li{
		font-size:1.2rem;
		padding-right:2%;
	}
	header .menu-item-has-children:after{
		top: 2px;
	}
}
@media only screen and (max-width: 1030px) {
	header #logo{
		width:18%;
		margin-top:12px;
	}
	#mission-statement #featured-image-container{
		height:320px;
	}
	.round-header-image{
		top:-260px !important;
	}
	#solutions #featured-image-container .product-logo{
		width:160px;
	}
	#page #featured-image-container:after,
	#solutions #featured-image-container:after,
	#portal #featured-image-container:after{
		background: -moz-linear-gradient(left, rgba(242,242,242,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(242,242,242,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(242,242,242,1) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}
	#solutions h2.header-tagline{
		font-size:5rem;
		line-height:5.5rem;
	}
	#solutions h2{
		font-size:4rem;
		line-height:4rem;
	}
	p{
		font-size:2.3rem;
		line-height:4rem;
	}
	.wp-block-columns{
		display:block;
		padding:20px 4% !important;
	}
	#solutions .wp-block-column:first-child{
		padding:0px 4%;
	}
	.col-left, .col-right, #portal .col-right{
		width:100%;
		float:none;
		border-right:none;
	}
	.col-right{
		margin-top:40px;
		padding-top:40px;
		border-top: 1px solid #666;
	}

	footer .col-right{
		padding-top:0px;
		border-top: 0px solid #666;
	}
	header .menu{
		padding-top:16px;
	}
	#menu-header-menu li{
		font-size:1.2rem;
	}
	.ultherapy-equipment{
		width:24%;
		right:0px;
		min-width:unset;
	}
	a.find-a-doc:before{
		padding:5px 14px;
		top:11px;
	}
}

@media only screen and (max-width: 990px) {
	header #logo{
		width:66% !important;
	}
	#top-nav{
		display:none;
	}
	#header-push{
		height:104px;
	}
	.mobile{
		display:block;
	}
	.healthcare-pro-link{
		display:none;
	}
	h3{
		font-size:6rem;
		line-height:6rem;
	}
	#page #featured-image-container .title,
	#portal #featured-image-container .title{
		font-size:3rem;
		line-height:4rem;
	}
	#featured-image-container{
		height:460px;
	}
	#solutions .featured-image img{
		width:130%;
		right:0%;
	}
	#page #featured-image-container .header-excerpt,
	#solutions #featured-image-container .header-excerpt,
	#portal #featured-image-container .header-excerpt{
		font-size:1.4rem;
		line-height:2rem;
	}
	#featured-image-container .title{
		font-size:1.8rem;
		line-height:2.2rem;
	}
	.thumb-large-container .title{
		font-size:1.8rem;
		line-height:2.2rem;
	}
	#featured-image-container h1.title{
		line-height:2.5rem;
	}
	#article p, #article figure, #article h4, #page p, #page figure{
		padding:0px 4%;
	}
	a.find-a-doc:before{
		padding:4px 14px;
		top:12px;
	}
	#search-button{
		padding:22px 44%;
	}
	.featured-image img{
		width:120%;
		left:-10%;
	}
}
@media only screen and (max-width: 768px) {
	#mc_embed_signup input.email{
		width:100%!important;
	}
}

@media only screen and (max-width: 600px) {
	.thumb-large-container{
		width:100%;
		margin:auto;
	}
	#products .thumb-large-container{
		width:100%;
	}
	footer .col-left, footer .col-right{
		width:100%;
		clear:both;
		float:none;
	}
	#article p, #article figure, #article h4, #page p, #page figure{
		font-size:2rem;
		line-height:4rem;
		padding:0px 4%;
	}
	#solutions .featured-image img{
		width:160%;
		right:0%;
	}
	.round-header-image{
		top:-200px !important;
		right:-80% !important;
	}
	#page #featured-image-container .header-excerpt,
	#solutions #featured-image-container .header-excerpt,
	#portal #featured-image-container .header-excerpt{
		width:90%;
	}
	#page #featured-image-container:after,
	#solutions #featured-image-container:after,
	#portal #featured-image-container:after{
		background: -moz-linear-gradient(left, rgba(242,242,242,1) 50%, rgba(0,0,0,0) 120%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(242,242,242,1) 50%,rgba(0,0,0,0) 120%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(242,242,242,1) 50%,rgba(0,0,0,0) 120%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}
	#side-menu{
		width:90%;
	}
	#mission-statement #featured-image-container{
		height:240px;
	}
}




